{% extends "base.njk" %}

{% block content %}
  <div class="col-md-10 offset-md-1">

    <div class="card card-outline-primary mb-3 text-center">
      <form class="form-inline p-1" style="margin-bottom: -38px;" action="/todo/search">
        <input type="text" class="form-control mr-sm-2" name="search" id="a" placeholder="Tapper votre recherche"><br>
        <button type="submit" class="btn btn-info col-md-2" value="Submit" name="submit">Rechercher</button>
      </form>
       <a class="btn btn-info col-md-2 ml-auto" href="/todo/export" role="button"><i class="fas fa-file-download"></i> Exporter en CSV</a>
      <div class="card-block">
        <blockquote class="card-blockquote">
          <center>
            <table id="todolist" class="table table-bordered table-hover sortable">
              <thead>
                <tr>
                  <th>Tâche</th>
                  <th>Date de début</th>
                  <th>Date de fin</th>
                  <th>Priorité</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for todo in todos %}
                  {% if todo.priority >= 8 %}
                    <tr class="table-danger">
                  {% else %}
                    <tr>
                  {%endif%}
                      <td>
                        {{ todo.label }}
                      </td>
                      <td>
                        {{ todo.dateBegin }}
                      </td>
                      <td>
                        {{ todo.dateEnd }}
                      </td>
                      <td>
                      {{ todo.priority }}
                      </td>
                      <td>
                        <a class="btn btn-warning btn-sm" href="/todo/edit/{{ todo._id }}" role="button"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a class="btn btn-danger btn-sm" href="/todo/delete/{{ todo._id }}" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                      </td>
                  </tr>
                  
                {% endfor %}
              </tbody>
            </table>

            <br>

            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddTodo">
              Ajouter une tâche
            </button>
           <br>

            <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#modalRemoveAllTodo">
              Supprimer toutes les tâches
            </button>
          </center>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAddTodo" tabindex="-1" role="dialog" aria-labelledby="modalAddTodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddTodo">Ajouter une tâche</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/todo/add/" method="post">
            <div class="form-group">
              <label for="inputLabel">Nom de la nouvelle tâche :</label>
              <input type="text" class="form-control" id="inputLabel" name="inputLabel" placeholder="Aller chercher du pain" autofocus required>
            </div>
            <div class="form-group">
              <label for="inputDateBegin" class="">Début de la tâche :</label>
              <input class="form-control" type="date" id="inputDateBegin" name="inputDateBegin" placeholder="01/01/2019" required>
            </div>
            <div class="form-group">
              <label for="inputDateEnd" class="">Fin de la tâche :</label>
              <input class="form-control" type="date" id="inputDateEnd" name="inputDateEnd" placeholder="02/01/2019">
            </div>
             <div class="form-group">
              <label for="priority" class="">Priorité :</label>
              <input class="form-control" type="number" id="priority" name="priority" placeholder="0">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-success">Ajout</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalRemoveAllTodo" tabindex="-1" role="dialog" aria-labelledby="modalRemoveAllTodo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRemoveAllTodo">Supprimer toutes les tâches ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <center>
                <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
                <a class="btn btn-danger" href="/todo/delete/all" role="button">Oui</a>
            </center>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block endbody %}
  <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js" charset="utf-8"></script>
{% endblock %}
